/*
/*.exe
!/*.cpp
!/*.c
!/*.js

!/Problem Solving
/Problem Solving/*
!/Problem Solving/*.*
/Problem Solving/*.exe

!/heap
/heap/*
!/heap/*.*
/heap/*.exe

!/leetcodehard
/leetcodehard/*
!/leetcodehard/*.*

!backtracking
/backtracking/*
!/backtracking/*.cpp
!/backtracking/*.c

!dynamic_programming
/dynamic_programming/*
!/dynamic_programming/*.cpp
!/dynamic_programming/*.c

!graphs
/graphs/*
!/graphs/*.cpp
!/graphs/*.c

!linked_lists
/linked_lists/*
!/linked_lists/*.cpp
!/linked_lists/*.c

!miscellaneous
/miscellaneous/*
!/miscellaneous/*.cpp
!/miscellaneous/*.c

!recursion
/recursion/*
!/recursion/*.cpp
!/recursion/*.c

!sorting_searching
/sorting_searching/*
!/sorting_searching/*.cpp
!/sorting_searching/*.c

!stacks_queues
/stacks_queues/*
!/stacks_queues/*.cpp
!/stacks_queues/*.c

!string_ops
/string_ops/*
!/string_ops/*.cpp
!/string_ops/*.c

!greedy
/greedy/*
!/greedy/*.cpp
!/greedy/*.c

!trees
/trees/*
!/trees/*.cpp
!/trees/*.c
