/*
/*.exe
!/*.cpp
!/*.c
!/*.js
!/.gitattributes

!/Problem Solving
/Problem Solving/*
!/Problem Solving/*.*
/Problem Solving/*.exe

!/heap
/heap/*
!/heap/*.*
/heap/*.exe

!/leetcodehard
/leetcodehard/*
!/leetcodehard/*.cpp
!/leetcodehard/*.c

!backtracking
/backtracking/*
!/backtracking/*.cpp
!/backtracking/*.c

!dynamic_programming
/dynamic_programming/*
!/dynamic_programming/*.cpp
!/dynamic_programming/*.c

!graphs
/graphs/*
!/graphs/*.cpp
!/graphs/*.c

!linked_lists
/linked_lists/*
!/linked_lists/*.cpp
!/linked_lists/*.c

!miscellaneous
/miscellaneous/*
!/miscellaneous/*.cpp
!/miscellaneous/*.c

!recursion
/recursion/*
!/recursion/*.cpp
!/recursion/*.c

!sorting_searching
/sorting_searching/*
!/sorting_searching/*.cpp
!/sorting_searching/*.c

!stacks_queues
/stacks_queues/*
!/stacks_queues/*.cpp
!/stacks_queues/*.c

!string_ops
/string_ops/*
!/string_ops/*.cpp
!/string_ops/*.c

!greedy
/greedy/*
!/greedy/*.cpp
!/greedy/*.c

!trees
/trees/*
!/trees/*.cpp
!/trees/*.c

!divide-conquer
/divide-conquer/*
!/divide-conquer/*.cpp
!/divide-conquer/*.c

!trie
/trie/*
!/trie/*.cpp
!/trie/*.c

!binarysearch
/binarysearch/*
!/binarysearch/*.cpp
!/binarysearch/*.c

!matrix
/matrix/*
!/matrix/*.cpp
!/matrix/*.c

!slidingwindow
/slidingwindow/*
!/slidingwindow/*.cpp
!/slidingwindow/*.c

!codeforces
/codeforces/*
!/codeforces/*.cpp
!/codeforces/*.c


!codeforces/contest 1109
/codeforces/contest 1109/*
!/codeforces/contest 1109/*.cpp
!/codeforces/contest 1109/*.c

!codeforces/contest 1114
/codeforces/contest 1114/*
!/codeforces/contest 1114/*.cpp
!/codeforces/contest 1114/*.c

!union-find
/union-find/*
!/union-find/*.cpp
!/union-find/*.c

!prefixSum
/prefixSum/*
!/prefixSum/*.cpp
!/prefixSum/*.c

!bitmask
/bitmask/*
!/bitmask/*.cpp
!/bitmask/*.c

!shortestpath
/shortestpath/*
!/shortestpath/*.cpp
!/shortestpath/*.c

!game_problems
/game_problems/*
!/game_problems/*.cpp
!/game_problems/*.c


!segmentTrees
/segmentTrees/*
!/segmentTrees/*.cpp
!/segmentTrees/*.c

!contests
/contests/*
!/contests/*.cpp
!/contests/*.c
!/contests/.gitignore

!atcoder
/atcoder/**
!/atcoder/**/
!/atcoder/**/*.cpp
!/atcoder/**/*.c
!/atcoder/.gitignore

!maths
/maths/**
!/maths/**/
!/maths/**/*.cpp
!/maths/**/*.c
!/maths/.gitignore

